<div class="home-page">
	<div class="container">
		<!-- Mentor help modal -->
		<div class="modal fade" id="mentor-modal" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <h2 class="modal-title">Mentors</h2>
		            </div>

		            <div class="modal-body info">
		                <p>Our mentors are the core of what makes Little Me Big Me a success. Our mentors are comprised of community champions, resilient business leaders, powerful advocates, exceptional single mothers and so many others! </p>
						<p>As a mentor, you will receive a list of mentees in need of your expertise. Once you get matched to a mentee, you will have the opportunity to approve the match based on your level of comfort and knowledge in the given area. </p> 
						<p>Time commitment for each mentor will vary and is to be discussed with your matched mentee. On average, we recommend that each mentor spends 3 hours a month for each mentee. Again, we want to make sure that the relationship is meaningful to both parties and thus time commitment may vary.</p>
						<p>If you have any other questions, check out our FAQ page!</p>
		            </div>
		            <div class="modal-footer">
		                <input type="button" data-dismiss="modal" value="CLOSE" class="modal-close-button"/>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Mentor help modal -->
		<div class="modal fade" id="mentee-modal" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <h2 class="modal-title">Mentees</h2>
		            </div>

		            <div class="modal-body">
		                <p>We believe that women become empowered when they have a support system of amazing mentors around them. As a young mentee you will have the opportunity to get support, encouragement, and connection from some amazing women in your community. </p>
						<p>As a mentee, you will be able to select the type of mentorship you are looking for by telling us about yourself when you sign-up. </p>
						<p>This information will be kept private and will help us in matching you with the best mentors we know. </p>
						<p>Once a match is made, it is up to you to start the conversation and communicate with your mentor what you want to achieve with the relationship. </p>
						<p>At Little Me Big Me, we encourage our mentees to be open minded in receiving feedback and suggestions from your fellow mentors. You can also expect to spend an average of 3 hours per month with each mentor, though this may vary and will have to be discussed individually with each match.</p>

						<p>Take a look at our FAQ page if you have any more questions</p>
		            </div>
		            <div class="modal-footer">
		                <input type="button" data-dismiss="modal" value="CLOSE" class="modal-close-button"/>
		            </div>
		        </div>
		    </div>
		</div>
		<%= link_to 'Mentors', new_mentor_path, class:"home-btn" %>
		<%= link_to 'Mentee', new_mente_path, class:"home-btn" %>
	</div>

	<div class="home-footer">
		<p data-toggle="modal" data-target="#mentor-modal">What is a mentor?</a>
		<p data-toggle="modal" data-target="#mentee-modal">What is a mentee?</a>
	</div>
</div>